{% if error %}
  <p>{{ error }}</p>
{% endif %}

{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/statistic.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>

    <title>Statistic</title>
    <link rel="icon" type="image/x-icon" href="../static/img/Logo_kementerian_keuangan_republik_indonesia 1.png">
  </head>

  <body>
  <!-- Navbar -->
  {% block navbar %}
    {% include './items/navbar.html' %}
  {% endblock %}
  
  <!-- MAIN -->
  <section>
    <div class="container-fluid" style="height: 600px;">
      <div class="row d-flex justify-content-center">

        <!-- Title -->
        <div class="col-md-12 text-center">
          <h1 style="font-size: 32px; font-weight: 700; padding-top: 53px; padding-bottom: 39px;">STATISTIK</h1>
        </div>

        <!-- Left Coloumn -->
        <div class="col-md-3" style="background-color: #C7EEFF; height: 323px; border-radius: 20px;">
          <div style="padding: 30px 24px 30px 24px;">
            <p style="margin-bottom: auto; font-family: Inter; font-size: 18px;">Statistic</p>
            <h2 style="color: #0D5CAB; font-family: Inter; font-size: 22px; font-weight: 700; padding-bottom: 33px;">Social Media Post Agenda</h2>
            <div class="d-flex justify-content-between">
              <h3 style="font-size: 14px;">Jumlah Agenda Setting</h3>
              <h3 style="font-size: 14px;">{{ total_agenda_setting }}</h3>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: {{ total_agenda_setting }}%;" aria-valuenow="{{ total_agenda_setting }}" aria-valuemin="0" aria-valuemax="1000"></div>
            </div>
            <div class="d-flex justify-content-between">
              <h3 style="font-size: 14px;">Jumlah Postingan</h3>
              <h3 style="font-size: 14px;">931</h3>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: 93.1%;" aria-valuenow="931" aria-valuemin="0" aria-valuemax="1000"></div>
            </div>
            <div class="d-flex justify-content-between">
              <h3 style="font-size: 14px;">Jumlah Postingan Sesuai Agenda Setting</h3>
              <h3 style="font-size: 14px;">721</h3>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: 72.1%;" aria-valuenow="721" aria-valuemin="0" aria-valuemax="1000"></div>
            </div>
          </div>
        </div>
        
        <!-- Mid Space Between Colomn-->
        <div class="col-md-auto"></div>
        
        <!-- Middle Coloumn -->
        <div class="col-md-3" style="background-color: #C7EEFF; height: 323px; border-radius: 20px;">
          <div style="padding: 30px 24px 30px 24px;">
            <p style="margin-bottom: auto; font-family: Inter; font-size: 18px;">Statistic</p>
            <h2 style="color: #0D5CAB; font-family: Inter; font-size: 22px; font-weight: 700; padding-bottom: 33px;">Post Verification</h2>
            <div class="d-flex justify-content-between">
              <h3 style="font-size: 14px;">Jumlah Postingan Terverifikasi</h3>
              <h3 style="font-size: 14px;">631</h3>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: 63.1%;" aria-valuenow="631" aria-valuemin="0" aria-valuemax="1000"></div>
            </div>
            <div class="d-flex justify-content-between">
              <h3 style="font-size: 14px;">Jumlah Postingan Belum Terverifikasi</h3>
              <h3 style="font-size: 14px;">300</h3>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="300" aria-valuemin="0" aria-valuemax="1000"></div>
            </div>
          </div>
        </div>  

              <!-- Mid Space Between Colomn-->
      <div class="col-md-auto"></div>

      <!-- Right Coloumn -->
      <div class="col-md-3" style="background-color: #C7EEFF; height: 323px; border-radius: 20px;">
        <div style="padding: 30px 24px 30px 24px;">
          <p style="margin-bottom: auto; font-family: Inter; font-size: 18px;">Statistic</p>
          <h2 style="color: #0D5CAB; font-family: Inter; font-size: 22px; font-weight: 700; padding-bottom: 33px;">Agenda</h2>
          <div class="d-flex justify-content-between">
            <h3 style="font-size: 14px;">Jumlah Topik</h3>
            <h3 style="font-size: 14px;">{{ total_topik_agenda }}</h3>
          </div>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: {{ total_topik_agenda }}%;" aria-valuenow="{{ total_topik_agenda }}" aria-valuemin="0" aria-valuemax="1000"></div>
          </div>
          <div class="d-flex justify-content-between">
            <h3 style="font-size: 14px;">Jumlah Pesan Kunci</h3>
            <h3 style="font-size: 14px;">{{ total_pesan_kunci_words }}</h3>
          </div>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: {{ total_pesan_kunci_words }}%;" aria-valuenow="{{ total_pesan_kunci_words }}" aria-valuemin="0" aria-valuemax="1000"></div>
          </div>
          <div class="d-flex justify-content-between">
            <h3 style="font-size: 14px;">Jumlah Sub Pesan Kunci</h3>
            <h3 style="font-size: 14px;">{{ total_sub_pesan_kunci_words }}</h3>
            </div>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: {{ total_sub_pesan_kunci_words }}%;" aria-valuenow="{{ total_sub_pesan_kunci_words }}" aria-valuemin="0" aria-valuemax="1000"></div>
          </div>
        </div>
      </div>  
    </div>
    <!-- Button -->
    <!-- <div class="d-flex justify-content-center" style="padding: 40px 0px 20px 0px;">
      <a class="btn-option" style="width: 287px;" href="{% url 'table_input_as' %}" type="submit">Database Agenda Setting</a>
    </div> -->
  </div>
  </section>

  <!-- footer -->
  {% block footer %}
  {% include './items/footer.html' %}
  {% endblock %}

  </body>
</html>