{% if error %}
  <p>{{ error }}</p>
{% endif %}

{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/similarity-checker.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>

    <title>Similarity Checker</title>
    <link rel="icon" type="image/x-icon" href="../static/img/Logo_kementerian_keuangan_republik_indonesia 1.png">
  </head>

  <body>
  <!-- Navbar -->
  {% block navbar %}
    {% include './items/navbar.html' %}
  {% endblock %}

  <!-- MAIN -->
  <section>
    <!-- Title -->
    <div class="text-center pb-3">
      <h1 style="font-size: 32px; font-weight: 700; padding-top: 53px;">VERIFIKASI MANUAL</h1>
    </div>

    <div class="container-fluid">
      <div class="row d-flex justify-content-center">


        <!-- Form for Manual Verification -->
        <!-- Top Side -->
        <div class="col-md-10" style="background-color: #C7EEFF; border-radius: 12px;">
          <div style="padding: 20px 0px 0px 20px;">
            <strong>1. Detail Post</strong>
          </div>
          <div style="padding: 20px 63px 10px 63px;">
            <form method="POST">
              {% csrf_token %}
              <div class="row pb-3">
                <div class="col-6">
                  <label for="ue1" class="form-label">Unit Eselon 1: </label>
                  <input class="form-control" id="ue1" name="ue1" value="Kemenkeu" readonly>
                </div>
                <div class="col-6">
                  <label for="socmed" class="form-label">Social Media: </label>
                  <input class="form-control" id="socmed" name="socmed" value="Instagram" readonly>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-6">
                  <label for="account_url" class="form-label">Link Account: </label>
                  <input class="form-control" id="account_url" name="account_url" value="https://www.instagram.com/smindrawati/" readonly>
                </div>
                <div class="col-6">
                  <label for="post_url" class="form-label">Link Post: </label>
                  <input class="form-control" id="post_url" name="post_url" readonly value="https://www.instagram.com/p/CwG2pLKyPiB">
                </div>
              </div>
              <div class="pb-3">
                <label for="captions" class="form-label">Caption: </label>
                <textarea class="form-control" id="captions" rows="4" name="captions" readonly>My Bestie @retno_marsudi 💝 and Mas Agus Marsudi. My bestie and your bestie Sit down by di fire Your bestie say she wan' party So can we make these flames go higher? Talkin' hey now (hey now), hey now (hey now) Iko iko a nae Chakimo fina a na nae Chakimo fina nae (boom) From Iko Iko lyric Songwriters: Barbara Anne Hawkins / Joan Marie Johnson / Rosa Lee Hawkins</textarea>
              </div>
          </div>
        </div>

        <!-- Middle Side -->
        <div class="col-md-10" style="background-color: #C7EEFF; border-radius: 12px; margin: 20px 0px 20px 0px;">
          <div style="padding: 20px 0px 0px 20px;">
            <strong>2. Agenda Setting</strong>
          </div>
          <div style="padding: 20px 63px 10px 63px;">
              <div class="pb-3">
                <label for="topik" class="form-label">Topik: </label>
                <input type="text" class="form-control" id="topik" name="topik" readonly value="Agenda-1"> <!--from agenda setting-->
              </div>
              <div class="pb-3">
                <label for="pesan_kunci" class="form-label">Pesan Kunci: </label>
                <textarea class="form-control" id="pesan_kunci" name="pesan_kunci" readonly rows="2">Indonesia menjaga pertumbuhan ekonomi diatas 5% selama 7 kuartal berturut turut. APBN menjadi instrumen pemulihan ekonomi yang penting dan akan terus mendukung pembangunan seluruh pelosok Indonesia dan perbaikan kesejahteraan rakyat</textarea>
              </div>
              <div class="pb-3">
                  <label for="sub_pesan_kunci" class="form-label">Sub Pesan Kunci: </label>
                  <textarea class="form-control" id="sub_pesan_kunci" name="sub_pesan_kunci" readonly rows="1">RUU APBN 2024</textarea>
              </div>
          </div>
        </div>

        <!-- Bottom Side -->
        <div class="col-md-10" style="background-color: #C7EEFF; border-radius: 12px;">
          <div style="padding: 20px 0px 0px 20px;">
            <strong>3. Similarity</strong>
          </div>
          <div style="padding: 20px 63px 20px 63px;">        
              <div class="row">
                <div class="col-4">
                  <label for="accuracy" class="form-label">Accuracy Automated Checker: </label>
                  <input type="text" class="form-control" id="accuracy" name="accuracy" readonly value="0%">
                </div>
                <div class="col-4">
                  <label for="kesesuaian" class="form-label">Kesesuaian: </label>
                  <select class="form-select" name="kesesuaian" id="kesesuaian" required>
                    <option value="Sesuai">Sesuai</option> <!--sesuai accuracy automated checker-->
                    <option selected value="Tidak Sesuai">Tidak Sesuai</option>
                  </div>
                  </select>
                </div>
                <div class="col-4">
                  <label for="catatan" class="form-label">Catatan</label>
                  <textarea class="form-control" id="catatan" name="catatan" rows="2"></textarea>
                </div>
          </div>
        </div>
      </div>

        <!-- Submit Form Button-->
              <div class="col-md-12 d-flex justify-content-center" style="padding: 20px 0px 40px 0px;">
                <button class="btn-option" style="width: 287px; height: 48px; background: #EFB829; color: #0D5CAB; border-style: none;" type="submit" name="submit">Save</button>
              </div>
            </form>
          
    </div>
  </section>

  <!-- footer -->
  {% block footer %}
  {% include './items/footer.html' %}
  {% endblock %}

  </body>
</html>